<!-- Category Start-->
<div class="category">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img th:src="@{/home-stt/img/category-3.jpg}" />
          <a class="category-name" href="">
            <p>Áo khoác</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-250">
          <img th:src="@{/home-stt/img/category-4.jpg}" />
          <a class="category-name" href="">
            <p>Áo thun</p>
          </a>
        </div>
        <div class="category-item ch-150">
          <img th:src="@{/home-stt/img/category-5.jpg}" />
          <a class="category-name" href="">
            <p>Sơ mi</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-150">
          <img th:src="@{/home-stt/img/category-6.jpg}" />
          <a class="category-name" href="">
            <p>Phụ kiện</p>
          </a>
        </div>
        <div class="category-item ch-250">
          <img th:src="@{/home-stt/img/category-7.jpg}" />
          <a class="category-name" href="">
            <p>Balo</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img th:src="@{/home-stt/img/category-8.jpg}" />
          <a class="category-name" href="">
            <p>Tất cả sản phẩm</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Category End-->