<!-- Feature Start-->
<div class="feature">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fab fa-cc-mastercard"></i>
          <h2>Thanh toán nhanh</h2>
          <p>
            Chuyển khoản và ví điện tử
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-truck"></i>
          <h2>Miễn phí vận chuyển</h2>
          <p>
            Cho đơn hàng từ 500K
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-sync-alt"></i>
          <h2>Miễn phí đổi hàng</h2>
          <p>
            Hỗ trợ đổi size
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-comments"></i>
          <h2>Hotline hỗ trợ</h2>
          <p>
            +84 935 946 633
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End-->