<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<!-- Main Slider Start -->
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <nav class="navbar bg-light">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-home"></i>Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Bán chạy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>Sản phẩm mới</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-female"></i>Thời trang nữ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-child"></i>Thời trang nam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Quần áo nam nữ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Phụ kiện nam nữ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6">
        <div class="header-slider normal-slider">
          <div class="header-slider-item">
            <img th:src="@{/home-stt/img/slider-1.jpg}" alt="Slider Image" />
            <div class="header-slider-caption">
              <p>ÁO KHOÁC LOCAL BRAND : TOP 3 KIỂU DÁNG KHIẾN CÁC BẠN NAM PHÁT CUỒNG.</p>
              <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a>
            </div>
          </div>
          <div class="header-slider-item">
            <img th:src="@{/home-stt/img/slider-2.jpg}" alt="Slider Image" />
            <div class="header-slider-caption">
              <p>Liên hệ để được tư vấn ngay</p>
              <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a>
            </div>
          </div>
          <div class="header-slider-item">
            <img th:src="@{/home-stt/img/slider-3.jpg}" alt="Slider Image" />
            <div class="header-slider-caption">
              <p>Liên hệ để được tư vấn ngay</p>
              <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="header-img">
          <div class="img-item">
            <img th:src="@{/home-stt/img/c1.jpg}" />
            <a class="img-text" href="">
              <p>ÁO KHOÁC LOCAL BRAND : TOP 3 KIỂU DÁNG KHIẾN CÁC BẠN NAM PHÁT CUỒNG.</p>
            </a>
          </div>
          <div class="img-item">
            <img th:src="@{/home-stt/img/c2.jpg}" />
            <a class="img-text" href="">
              <p>ÁO KHOÁC LOCAL BRAND : TOP 3 KIỂU DÁNG KHIẾN CÁC BẠN NAM PHÁT CUỒNG.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Slider End -->