<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!-- Featured Product Start -->
<div class="featured-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1>Top 10 Sold</h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">
      <th:block th:each="p : ${top10sold}">
        <div class="col-lg-3">
          <div class="product-item">
            <div class="product-title">
              <a href="#" th:text="${p.name}"></a>
            </div>
            <div class="product-image">
              <a href="product-detail.html">
                <img th:src="@{/home-stt/img/proc/{image}(image=${p.image})}" alt="Product Image">
              </a>
              <div class="product-action">
                <a href="" th:onclick="addFavorite([[${p.productId}]], [[${#request.remoteUser}]])">
                  <i class="fa fa-heart"></i></a>
                <a th:href="@{/products/{productId}(productId=${p.productId})}">
                  <i class="fa fa-search"></i></a>
              </div>
            </div>
            <div class="product-price">
              <h3 th:text="${#strings.replace((#strings.replace(#numbers.formatCurrency(p.price), '.00', '')),'$','')}"
                  id="price"><span>$</span></h3>
              <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
<!-- Featured Product End -->