<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="product-view-top">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product-search">
                                <form th:action="@{/products/search}" method="post">
                                    <input type="text" id="keyword" name="keyword" placeholder="Tìm kiếm">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-short">
                                <div class="dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">Danh mục sản phẩm</div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <th:block th:each="c :${categories}">
                                            <a th:href="@{/products?choose=category&categoryId={categoryId}(categoryId=${c.categoryId})}"
                                               class="dropdown-item" th:text="${c.name}"></a>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-price-range">
                                <div class="dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">Giá sản phẩm</div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a th:href="@{/products?choose=lowPrice}" class="dropdown-item">Thấp đến cao</a>
                                        <a th:href="@{/products?choose=highPrice}" class="dropdown-item">Cao đến
                                            thấp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:each="p : ${products}">
                <div class="col-md-3">
                    <div class="product-item">
                        <p th:text="${p.productId}" id="productID" hidden></p>
                        <div class="product-title">
                            <a href="#" id="productName" th:text="${p.name}"></a>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img th:src="@{/home-stt/img/proc/{image}(image=${p.image})}" alt="Product Image">
                                <img src="">
                            </a>
                            <div class="product-action">
                                <!--                    <a href="#" th:onclick="addToCart([[${p.productId}]], [[${p.name}]], [[${p.price}]])">-->
                                <!--                      <i class="fa fa-cart-plus"></i></a>-->
                                <a href="" th:onclick="addFavorite([[${p.productId}]], [[${#request.remoteUser}]])">
                                    <i class="fa fa-heart"></i></a>
                                <a th:href="@{/products/{productId}(productId=${p.productId})}">
                                    <i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3 th:text="${#strings.replace((#strings.replace(#numbers.formatCurrency(p.price), '.00', '')),'$','')}"
                                id="price"><span>$</span></h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <!-- Pagination Start -->
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <th:block th:if="${choose == ''}">
                    <ul class="pagination justify-content-center mb-3">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/products?pageNumber=0}"
                               aria-label="Previous">
                                <span aria-hidden="true"> << </span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>

                        <li class="page-item disabled" th:if="${currentPage == 0 }">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"> < </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item " th:unless="${currentPage == 0 }">
                            <a class="page-link" th:href="@{/products(pageNumber=${currentPage-1})}"
                               aria-label="Next">
                                <span aria-hidden="true"> < </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item disabled" th:if="${currentPage == (maxPage - 1)}">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"> > </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="page-item" th:unless="${currentPage == (maxPage - 1)}">
                            <a class="page-link" th:href="@{/products(pageNumber=${currentPage+1})}"
                               aria-label="Next">
                                <span aria-hidden="true"> > </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:href="@{/products(pageNumber=${maxPage-1})}"
                               aria-label="Next">
                                <span aria-hidden="true"> >> </span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>
                    </ul>
                </th:block>
                <th:block th:unless="${choose == ''}">
                    <ul class="pagination justify-content-center mb-3">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/products?pageNumber=0}"
                               aria-label="Previous">
                                <span aria-hidden="true"> << </span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>

                        <li class="page-item disabled" th:if="${currentPage == 0 }">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"> < </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item " th:unless="${currentPage == 0 }">
                            <a class="page-link" th:href="@{/products(pageNumber=${currentPage-1})}"
                               aria-label="Next">
                                <span aria-hidden="true"> < </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item disabled" th:if="${currentPage == (maxPage - 1)}">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"> > </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="page-item" th:unless="${currentPage == (maxPage - 1)}">
                            <a class="page-link"
                               th:href="@{/products(pageNumber=${currentPage+1}, choose=${choose})}"
                               aria-label="Next">
                                <span aria-hidden="true"> > </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:href="@{/products(pageNumber=${maxPage-1})}"
                               aria-label="Next">
                                <span aria-hidden="true"> >> </span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>
                    </ul>
                </th:block>
            </nav>
        </div>
        <!-- Pagination Start -->
    </div>
</div>
<!-- Product List End -->