<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<!-- Top bar Start -->
<div class="top-bar" th:fragment="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-envelope"></i>
        january-shop-dn@gmail.com
      </div>
      <div class="col-sm-6">
        <i class="fa fa-phone-alt"></i>
        +84 934 567 285
      </div>
    </div>
  </div>
</div>
<!-- Top bar End -->