<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/home/layout-home}">
<head>
    <meta charset="utf-8">
    <title>January Shop - Shop Thời Trang</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Giỏ hàng</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Size, Màu</th>
                                        <th>Tổng tiền</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        <th:block th:each="c : ${carts}">
                                            <tr th:id="product+${c.productId}">
                                                <td th:text="${c.productName}"></td>
                                                <td th:text="${c.price}"></td>
                                                <td>
                                                    <div class="qty">
                                                        <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                        <input type="number" th:value="${c.quantity}"
                                                               th:onblur="updateCart(this, [[${c.productId}]])">
                                                        <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </td>
                                                <td>[[${c.color_size_id}]], [[${c.product_color_id}]]</td>
                                                <td th:text="${c.total}"></td>
                                                <td><button th:onclick="deleteCart([[${c.productId}]])"><i class="fa fa-trash"></i></button></td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Tổng đơn hàng</h1>
                                            <p>Tổng tiền sản phẩm<span th:text="${totalCars}"></span></p>
                                            <p>Phí giao hàng<span>$1</span></p>
                                            <h2>Tổng cộng<span th:text="${totalCars}"></span></h2>
                                        </div>
                                        <div class="cart-btn">
                                            <button th:onclick="reloadPage()">Update Cart</button>
                                            <button><a th:href="@{/checkout}" style="color: white">Checkout</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
    </div>
</body>
</html>