<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/home/layout-home}">
<head>
    <meta charset="utf-8">
    <title>January Shop - Shop Thời Trang</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="/home/fragments/index/main-slide"></div>
        <div th:replace="/home/fragments/index/feature"></div>
        <div th:replace="/home/fragments/index/top10sold"></div>
<!--        <div th:replace="/home/fragments/index/recent-proc"></div>-->
    </div>
</body>
</html>