<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link th:href="@{/home-stt/img/favicon.ico}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link th:href="@{/home-stt/lib/slick/slick.css}" rel="stylesheet">
    <link th:href="@{/home-stt/lib/slick/slick-theme.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/home-stt/css/style.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="/home/fragments/top-bar"></div>
    <div th:replace="/home/fragments/nav-bar"></div>
    <div th:replace="/home/fragments/bottom-bar"></div>

    <div layout:fragment="content"></div>

    <div th:replace="/home/fragments/footer"></div>
    <div th:replace="/home/fragments/footer-bottom"></div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/home-stt/lib/easing/easing.min.js}"></script>
    <script th:src="@{/home-stt/lib/slick/slick.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/home-stt/js/main.js}"></script>
</body>
</html>