<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/home/layout-home}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
</head>
<body>
    <div layout:fragment="content">
      <div th:replace="/home/fragments/bread-crumb"></div>
      <div th:replace="/home/fragments/list-proc"></div>
      <script th:inline="javascript">
          function addFavorite(procId, username) {
              event.preventDefault();
              const formData = new FormData();
              formData.append('procId', procId);
              formData.append('username', username);
              fetch('/api/favorites/save', {
                  method: 'post',
                  body: formData
              }).then(function(res){
                  return res.json();
              }).then(function(data){
                  // xử lý dữ liệu ở đây
                  const favoriteCounter = document.getElementById('favoriteCounter');
                  const count = parseInt(favoriteCounter.textContent);
                  const result = count + 1;
                  favoriteCounter.innerText = result.toString();
              });
          }
      </script>

    </div>
</body>
</html>