<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/home/layout-home}">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Đăng nhập</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="login-form">
                            <form th:action="@{/security/login}" method="post">
                            <div class="row" th:if="${param.error}">
                                <div class="col-md">
                                    <label style="color: red" th:text="${session.errorMessage}"></label>
                                </div>
                            </div>
                                <div class="row" th:if="${error}">
                                    <div class="col-md">
                                        <label style="color: red" th:text="${error}"></label>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email/ Tài khoản</label>
                                    <input name="username" id="username" class="form-control"
                                           type="text" placeholder="E-mail / Tài khoản" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Mật khẩu</label>
                                    <input name="password" type="password" id="password" class="form-control" required
                                           placeholder="Password">
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newaccount">
                                        <label class="custom-control-label">Keep me signed in</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn" type="submit">Đăng nhập</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login End -->
    </div>
</body>
</html>